<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>motorise.me</title>
    <link rel="stylesheet" href="/assets/css/foundation.css" />
    <link rel="stylesheet" href="/assets/css/app.css" />
    {% if style %}
      <link rel="stylesheet" href="/assets/css/{{style}}.css" />
    {% endif %}
    <script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    <script src="/assets/js/vendor/jquery.min.js"></script>
    <script src="/assets/js/vendor/what-input.min.js"></script>
    <script src="/assets/js/foundation.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
