<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>motorise.me</title>
    <link rel="stylesheet" href="/assets/css/foundation.css" />
    <link rel="stylesheet" href="/assets/css/app.css" />
  </head>
  <body>

    <div class="row header">
      <div class="large-7 columns title">
        motorise.me
      </div>
      <div class="large-5 columns">
        <ul class="menu expanded">
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">FEATURES</a></li>
          <li><a href="#">NEWS</a></li>
          <li><a class="login-button" href="#">LOG IN</a></li>
        </ul>
      </div>
    </div>
    {% block content %}
    {% endblock content %}
    <div class="login-footer-bottom">
      <div class="row">
        <div class="large-7 columns">
          <div class="row title">
            motorise.me
          </div>
          <div class="row">
            © 2016 Asphalt Kings OOD
          </div>
        </div>
        <div class="large-5 columns">
          <ul class="menu expanded">
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">FEATURES</a></li>
            <li><a href="#">NEWS</a></li>
            <li><a href="#">HELP</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/assets/js/vendor/jquery.min.js"></script>
    <script src="/assets/js/vendor/what-input.min.js"></script>
    <script src="/assets/js/foundation.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
