{% if messages %}
  <div id="notifications">
  {% for message in messages %}
    {{ message }}<br />
  {% endfor %}
  </div>
{% endif %}

{% if not user.is_active %}
<form method="post" action="login">
    {% csrf_token %}
    <input placeholder="Username" type="text" name="username" required />
    <br />
    <input placeholder="Password" type="password" name="password" required />
    <br />
    <input type="submit" name="submit" value="Логни се" />
</form>
<br>
<a href="/register">Регни се</a>
{% else %}
  Здравей, {{ user.get_username }}
  <a href="/logout">Махай се</a>
  <br>
  <br>
  <form method="post" action="create_event">
      {% csrf_token %}
      <input placeholder="Event name" type="text" name="name" required />
      <br />
      <input placeholder="Date" type="date" name="date" required />
      <br />
      <input placeholder="Start Point" type="text" name="start_point" required />
      <br />
      <input placeholder="Start Point coords" type="text" name="start_point_coordinates" required />
      <br />
      <input placeholder="End Point" type="text" name="end_point" />
      <br />
      <input placeholder="End Point coords" type="text" name="end_point_coordinates"/>
      <br />
      <label for="noob_friendly">Noob friendly?</label>
      <input type="checkbox" name="noob_friendly">
      <br />
      <label for="description">Description</label>
      <textArea name="description">
      </textArea>
      <input type="submit" name="submit" value="Карай" />
  </form>
  <br>
  <a href="/register">Регни се</a>
{% endif %}