{% extends "base_app.html" %}

{% block content %}
    <div class="row header logged-in expanded">
      <div class="large-7 columns title">
        motorise.me
      </div>
      <div class="large-5 columns">
        <ul class="menu align-right">
          <li><a id="profile-button" class="profile-button" href=""><img src="/assets/img/profile-pic.png" class="img-circle" alt="Profile image"></a></li>
          <li><a class="login-button" href=""><img src="/assets/img/bike icon.png" class="bike-icon" alt="Bike icon"> New Ride</a></li>
        </ul>
      </div>
    </div>

    <div id="map">
    </div>

    <div class="footer-bottom">
      <div class="row">
        <div class="large-2 columns title">
          motorise.me
        </div>
        <div class="large-5 columns footer-text-offset">
          <p>© 2016 Asphalt Kings OOD</p>
        </div>
        <div class="large-5 columns">
          <ul class="menu expanded">
            <li><a href="">ABOUT US</a></li>
            <li><a href="">FEATURES</a></li>
            <li><a href="">NEWS</a></li>
            <li><a href="">HELP</a></li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}