{% extends "base_app.html" %}

{% block content %}
    <div class="row header logged-in expanded">
      <div class="large-6 columns title">
        motorise.me
      </div>
      <div class="large-6 columns">
        <ul class="menu align-right">
          <li><a id="profile-button" class="profile-button" href="" data-toggle="user-dropdown"><img src="/assets/img/profile-pic.png" class="img-circle" alt="Profile image"></a></li>
          <li><a id="create-ride-button" class="login-button" href="" ><span class="bike-icon">&#xf21c;</span> New Ride</a></li>
        </ul>
      </div>
    </div>
    <div id="filter" class="row expanded filter closed">
      <div id="filter-content">
        <div class="row expanded">
          <div class="large-4 large-centered filter-title columns">
            Map Explorer
          </div>
        </div>
        <div class="row expanded">
          <div class="large-4 large-centered columns">
            <div class="row expanded">
              <div class="large-6 filter-form columns">
                Search Area:
                <div class="row">
                  <div class="large-1 columns awesome-icon">
                    &#xf124;
                  </div>
                  <div class="filter-slider">
                    <div class="large-10 columns slider" data-slider data-initial-start="0" data-end="200">
                      <span class="slider-handle"  data-slider-handle role="slider" tabindex="1"></span>
                      <span class="slider-fill" data-slider-fill></span>
                      <input type="hidden">
                    </div>
                  </div>
                  <div class="large-1 columns awesome-icon">
                    &#xf0ac;
                  </div>
                </div>
              </div>
              <div class="large-6 filter-form columns">
                Show on map:
                <div class="row">
                  <div class="large-6 columns">
                    <div class="filter-checkbox">
                      <input type="checkbox" name="rides">
                      <div class="awesome-icon">
                        &#xf0ac;
                      </div>
                      Public Rides
                    </div>
                  </div>
                  <div class="large-6 columns">
                    <div class="filter-checkbox">
                      <input type="checkbox" name="rides">
                      <div class="awesome-icon">
                        &#xf1ae;
                      </div>
                      Noob Friendly
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="large-6 columns">
                    <div class="filter-checkbox">
                      <input type="checkbox" name="rides">
                      <div class="awesome-icon">
                        &#xf000;
                      </div>
                      Food & Drink
                    </div>
                  </div>
                  <div class="large-6 columns">
                    <div class="filter-checkbox">
                      <input type="checkbox" name="rides">
                      <div class="awesome-icon">
                        &#xf19c;
                      </div>
                      Services
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row expanded">
      <div id="expand-filter" data-expanded="false" class="filter expand-button">
        &#xf078;
      </div>
    </div>

    <div class="row">
      <div class="dropdown-pane bottom" id="user-dropdown" data-dropdown data-auto-focus="true">
        <ul class="menu vertical dropdown">
          <li class="disabled"><a disabled>You</a></li>
          <li><a href="" >Profile & Account</a></li>
          <li><a href="" >Notifications</a></li>
          <li><a href="" >Privacy</a></li>
          <li><a href="" >Help & Feedback</a></li>
          <hr>
          <li class="disabled"><a disabled>Bikers</a></li>
          <li><a href="" >Your Firends</a></li>
          <li><a href="" >Search public profiles</a></li>
          <hr>
          <li class="disabled"><a disabled>Rides</a></li>
          <li><a href="" >Upcoming</a></li>
          <li><a href="" >Past</a></li>
          <hr>
          <li class="disabled"><a disabled>motorise.me</a></li>
          <li><a href="/logout" >Logout</a></li>
        </ul>
      </div>
    </div>
    <!-- <div> -->
      <div hidden id='inputs'></div>
      <div hidden id='errors'></div>
      <div hidden id='directions'>
        <div hidden id='routes'></div>
        <div hidden id='instructions'></div>
      </div>
      <div id="map" class="row expanded">
      </div>
      <div id="create-ride-holder" class="create-ride-holder">
        <div id="create-close-button" class="create-close-button">
          &#xf00d;
        </div>
        <div id="create-ride" class="">
          <div class="create-header">
            Create a new ride
          </div>
          <form id="create-ride-form" method="POST" action="/create_event">
            {% csrf_token %}
            <div class="row expanded">
              <div class="large-10 columns large-centered create-image-input">
                <a href="">add image</a>
                <br>
                (min size) 460x110px
              </div>
            </div>
            <div class="row expanded">
              <div class="large-10 columns large-centered create-form-input">
                <input class="create-form-text" type="text" placeholder="Name of your ride*" name="ride_name">
              </div>
            </div>
            <div class="row expanded">
              <div class="large-5 large-offset-1 columns create-form-input">
                <input type="text" class="create-form-text" placeholder="Ride date" id="dp_ride" name="ride_date">
                <!-- <input class="date create-form-text" type="text" placeholder="" name="ride_date"> -->
              </div>
              <div class="large-5 columns create-form-input">
                <input type="text" class="create-form-text" placeholder="Time" id="dp_time_ride" name="ride_time">
              </div>
              <div class="large-1 columns">
              </div>
            </div>
            <div class="row expanded">
              <div class="large-10 large-centered columns create-form-input">
                <input type="checkbox" name="public_ride"> Public Ride

                <input type="checkbox" name="noob_friendly"> Noob Friendly
              </div>
            </div>
            <div class="row expanded">
              <div class="large-10 large-centered columns create-form-input">
                <div class="sidetext">Plan your ride</div>
                <hr class="sideline">
              </div>
            </div>
            <div class="row expanded">
              <div class="large-10 large-centered columns create-form-input">
                Start
                <input type="text" class="create-form-text" placeholder="Search for a place or click on the map" name="ride_start_point">
                <div id="route-add-button" class="route-add-button">&#xf067;</div>
                <div id="ride-finish-text">Finish</div>
                <input type="text" id="ride-finish" class="create-form-text" placeholder="Search for a place or click on the map" name="ride_end_point">
              </div>
            </div>
            <div class="row expanded">
              <div class="large-10 large-centered columns create-form-input">
                <select id="road-type" class="road-type">
                  <option value="" disabled selected>Road type</option>
                  <option value="">wtf</option>
                  <option value="">lol</option>
                  <option value="">idk</option>
                  <option value="">haha</option>
                </select>
              </div>
            </div>
            <div class="row expanded">
              <div class="large-10 large-centered columns create-form-input">
                <div class="sidetext">Invite bikers</div>
                <hr class="sideline">
              </div>
            </div>
            <div class="row expanded">
              <div class="large-10 large-centered columns create-form-input">
                <input type="text" class="create-form-text" placeholder="Search friends' names or type e-mail address" name="ride_friend_invite">
              </div>
            </div>
            <div class="row expanded">
              <div class="large-10 large-centered columns create-form-input">
                <ul class="ride_participants">
                  <li><span id="list-name" class="list-name">Valentino Rossi</span><span id="list-icon" class="list-icon">&#xf003;</span></li>
                  <li><span id="list-name" class="list-name">M. Marquez</span><span id="list-icon" class="list-icon green">&#xf00c;</span></li>
                  <li><span id="list-name" class="list-name">Stoner</span><span id="list-icon" class="list-icon red">&#xf00d;</span></li>
                  <li><span id="list-name" class="list-name">Stefan Bradl</span><span id="list-icon" class="list-icon">&#xf128;</span></li>
                </ul>
              </div>
            </div>
            <div class="row expanded">
              <div class="large-10 large-centered columns create-form-input">
                <span class="seemore">See more</span>
              </div>
            </div>
            <div class="row expanded">
              <div class="large-10 large-centered columns create-form-input">
                <input type="submit" class="create-form-button" id="create-form-button" value="Create Ride">
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="view-ride-holder" class="create-ride-holder">
        <div id="view-close-button" class="create-close-button  view-close view-text">
          &#xf00d;
        </div>
        <div id="telemetry-open-button" class="create-close-button view-text tel-but">
          &#xf200;
        </div>
        <div id="create-ride" class="">
          <div id="view-header" class="create-header view-text view-bg">

          </div>
          <div id="view-image" class="create-header view-img-cont">
            <img src="http://www.centralcontracts.com/news/wp-content/uploads/motorbike.jpg" class="view-img">
          </div>
          <div class="row expanded">
            <div class="large-10 columns large-centered create-form-input">
              <span><span class="ride-prop-icon"> &#xf21c; </span><span class="ride-prop-text">Public ride</span></span>
              <span><span class="ride-prop-icon"> &#xf1ae; </span><span class="ride-prop-text">Noob friendly</span></span>
            </div>
          </div>
          <div class="row expanded">
            <div class="large-10 large-centered columns create-form-input">
              <div class="sidetext">Planned route</div>
              <hr class="sideline">
            </div>
          </div>
          <div class="row expanded">
            <div class="large-10 large-centered columns create-form-input">
              Start
              <span id="view-date-text" class="seemore">Date: </span>
              <div id="view-ride-start" class="create-form-text"></div>
              <div id="ride-finish-text">Finish</div>
              <div id="view-ride-finish" class="create-form-text"></div>
            </div>
          </div>
          <div class="row expanded">
            <div class="large-10 large-centered columns create-form-input">
              <div class="sidetext">The group</div>
              <hr class="sideline">
            </div>
          </div>
          <div class="row expanded">
            <div class="large-10 large-centered columns create-form-input">
              <ul class="ride_participants">
                <li><span id="list-name" class="list-name">Valentino Rossi</span><span id="list-icon" class="list-icon">&#xf003;</span></li>
                <li><span id="list-name" class="list-name">M. Marquez</span><span id="list-icon" class="list-icon green">&#xf00c;</span></li>
                <li><span id="list-name" class="list-name">Stoner</span><span id="list-icon" class="list-icon red">&#xf00d;</span></li>
                <li><span id="list-name" class="list-name">Stefan Bradl</span><span id="list-icon" class="list-icon">&#xf128;</span></li>
              </ul>
            </div>
          </div>
          <div class="row expanded">
            <div class="large-10 large-centered columns create-form-input">
              <span class="seemore">See more</span>
            </div>
          </div>
          <div class="row expanded">
            <div class="large-10 large-centered columns create-form-input">
              <div class="sidetext">Comments</div>
              <hr class="sideline">
            </div>
          </div>
          <div class="row">
            <div class="large-2 large-offset-1 columns create-form-input">
              <img class="comment-profile-pic img-circle" src="http://www.spyderlovers.com/forums/customavatars/avatar1376_8.gif">
            </div>

            <div class="large-7 large-offset-1 columns create-form-input">
              <div class="row">
                <div class="large-12 columns create-form-input comment-reply-text">
                  This is going to be a massive ride, bring your GoPro cameras!
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns create-form-input">
                  45min <a>Reply</a>
                </div>
              </div>
              <div class="row">
                <div class="large-10 columns create-form-input">
                  <div class="large-2 columns create-form-input">
                    <img class="comment-profile-pic" src="http://www.spyderlovers.com/forums/customavatars/avatar1376_8.gif">
                  </div>

                  <div class="large-7 large-offset-1 columns create-form-input">
                    <div class="row">
                      <div class="large-12 columns create-form-input comment-reply-text">
                        I have a spare one will bring it as well
                      </div>
                    </div>
                  </div>
                  <div class="large-1 columns create-form-input">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="large-10 columns create-form-input">
                  <div class="large-2 columns create-form-input">
                    <img class="comment-profile-pic" src="http://www.spyderlovers.com/forums/customavatars/avatar1376_8.gif">
                  </div>

                  <div class="large-7 large-offset-1 columns create-form-input">
                    <div class="row">
                      <div class="large-12 columns create-form-input comment-reply-text">
                        <input type="text" placeholder="Reply" class="reply-to-comment create-form-text">
                      </div>
                    </div>
                  </div>
                  <div class="large-1 columns create-form-input">
                  </div>
                </div>
              </div>
            </div>
            <div class="large-1 columns create-form-input">
            </div>
          </div>

         <!--  <div class="row">
            <div class="large-2 large-offset-1 columns create-form-input">
              <img class="comment-profile-pic img-circle" src="http://www.spyderlovers.com/forums/customavatars/avatar1376_8.gif">
            </div>
            <div class="large-7 large-offset-1 columns create-form-input">
              <input type="text" placeholder="Write a comment" class="reply-to-comment create-form-text">
            </div>
            <div class="large-1 columns create-form-input">
            </div>
          </div> -->
        </div>
      </div>







      <div id="telemetry-holder" class="create-ride-holder">
        <div id="telemetry-close-button" class="create-close-button view-text">
          &#xf00d;
        </div>
        <div id="create-ride" class="">
          <div id="view-header" class="create-header view-text view-bg">
            Telemetry
          </div>
          <div class="create-header telemetry-gauge">
            <canvas width="600px" height="480px" id="gauge">
              lol
            </canvas>
          </div>
          
          <div class="row expanded">
            <div class="large-10 large-centered columns create-form-input">
              
            </div>
          </div>
        </div>
      </div>

      <img id="gauge-img" src="/assets/img/gaugex2.png">







    <!-- </div> -->
    <div class="footer-bottom">
      <div class="row expanded">
        <div class="large-7 columns footer-text-offset">
          <p>© 2016 Asphalt Kings OOD</p>
        </div>
        <div class="large-5 columns">
          <ul class="menu align-right">
            <li><a href="">HELP</a></li>
            <li><a href="">NEWS</a></li>
            <li><a href="">FEATURES</a></li>
            <li><a href="">ABOUT US</a></li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}