{% extends "base_app.html" %}

{% block content %}
    <div class="row header">
      <div class="large-7 columns title">
        motorise.me
      </div>
      <div class="large-5 columns">
        <ul class="menu expanded">
          <li><a href="">ABOUT US</a></li>
          <li><a href="">FEATURES</a></li>
          <li><a href="">NEWS</a></li>
          <li><a id="login-button" class="login-button" href="/login_page">LOG IN</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <div class="row left-heading-text">
          <p class="left-heading-big-text">Connect with bikers like you</p>
          <p>Ride with friends, track lean angels, explore bike routes.</p>
          <p>Motorise.me is an inovvative platform that aims to unite bikers and help them find the ride people to ride with. Explore points of interest on the map, track you lean angles along the way, or simply create and share the best biking roads around.</p>
        </div>
      </div>
      <div class="large-5 columns callout register-form">
        <form id="register-form" method="POST" action="/register">
          {% csrf_token %}
          <div class="row">
            <div class="large-12 columns">
              <a id="login-mock" class="button facebook" href="">Sign up with Facebook</a>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <a class="button google" href="">Sign up with Google</a>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <p>or sign up with your email address</p>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <input placeholder="Username" type="text" name="username" required />
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <input placeholder="Email" type="email" name="email" required />
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <input placeholder="Password" type="password" name="password" required />
            </div>
          </div>
          
          <div class="row">
            <div class="large-12 columns">
              <input type="password" name="password-confirm" required placeholder="Confirm password" />
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <a id="signup-button" class="button sign-up" href="">Sign Up</a>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <p>By signing up for Motorise.me, you agree to the <a href="">Terms of Service</a>. View our <a href="">Privacy Policy</a>.</p>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="login-footer-top">
      <div class="row">
        <div class="large-3 columns">
          <h2>How it works</h2>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <div class="row column">
            <div class="large-12 columns">
              <img class="footer-image" src="assets/img/imac.png" alt="Step 1">
            </div>
          </div>
          <div class="row column">
            <div class="large-12 columns">
              <h4>1</h4>
            </div>
          </div>
          <div class="row column">
            <div class="large-12 columns">
              <h4>Organize your ride</h4>
            </div>
          </div>
        </div>
        <div class="large-5 columns">
          <div class="row column">
            <div class="large-12 columns">
              <img class="footer-image" src="assets/img/bikes.jpg" alt="Step 2">
            </div>
          </div>
          <div class="row column">
            <div class="large-12 columns">
              <h4>2</h4>
            </div>
          </div>
          <div class="row column">
            <div class="large-12 columns">
              <h4>Invite your buddies</h4>
            </div>
          </div>
        </div>
        <div class="large-3 columns">
          <div class="row column">
            <div class="large-12 columns">
              <img class="footer-image" src="assets/img/rideit.jpg" alt="Step 3">
            </div>
          </div>
          <div class="row column">
            <div class="large-12 columns">
              <h4>3</h4>
            </div>
          </div>
          <div class="row column">
            <div class="large-12 columns">
              <h4>Give it the beans</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="login-footer-bottom">
      <div class="row">
        <div class="large-7 columns">
          <div class="row title">
            motorise.me
          </div>
          <div class="row">
            © 2016 Asphalt Kings OOD
          </div>
        </div>
        <div class="large-5 columns">
          <ul class="menu expanded">
            <li><a href="">ABOUT US</a></li>
            <li><a href="">FEATURES</a></li>
            <li><a href="">NEWS</a></li>
            <li><a href="">HELP</a></li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}